{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
<?php
/**
 * @var \{{ namespace }}\View\AppView $this
 * @var \{{ entityClass }}[]|\Cake\Collection\CollectionInterface ${{ pluralVar }}
 */
?>
<div class="{{ pluralVar }} index content">
{% set fields = SetupBake.filterFields(fields, schema, modelObject, indexColumns, ['binary', 'text'], 'index') %}
    <?= $this->Html->link(__('New {0}', __('{{ singularHumanName }}')), ['action' => 'add'], ['class' => 'button float-right']) ?>
{% set done = [] %}
    <h2><?= __('{{ pluralHumanName }}') ?></h2>

    <div class="table-responsive">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
{% for field in fields %}
{% if field not in primaryKey and not SetupBake.isArray(field, schema) and not SetupBake.isText(field, schema) %}
{% if SetupBake.isPaginationOrderReversed(field, schema, modelObject) %}
                    <th><?= $this->Paginator->sort('{{ field }}', null, ['direction' => 'desc']) ?></th>
{% else %}
                    <th><?= $this->Paginator->sort('{{ field }}') ?></th>
{% endif %}
{% endif %}
{% endfor %}
                    <th class="actions"><?= __('Actions') ?></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach (${{ pluralVar }} as ${{ singularVar }}): ?>
                <tr>
{% for field in fields %}
{% if field not in primaryKey %}
{% set isKey = false %}
{% if associations.BelongsTo is defined %}
{% for alias, details in associations.BelongsTo %}
{% if field == details.foreignKey %}
{% set isKey = true %}
                    <td><?= ${{ singularVar }}->has('{{ details.property }}') ? $this->Html->link(${{ singularVar }}->{{ details.property }}->{{ details.displayField }}, ['controller' => '{{ details.controller }}', 'action' => 'view', ${{ singularVar }}->{{ details.property }}->{{ details.primaryKey[0] }}]) : '' ?></td>
{% endif %}
{% endfor %}
{% endif %}
{% if isKey is not same as(true) and not SetupBake.isArray(field, schema) and not SetupBake.isText(field, schema) %}
{% set columnData = Bake.columnData(field, schema) %}
{% if SetupBake.isEnum(field, schema, singularVar, namespace) %}
                    <td><?= ${{ singularVar }}::{{ SetupBake.enumMethod(field, schema) }}(${{ singularVar }}->{{ field }}) ?></td>
{% elseif SetupBake.isDateTime(field, schema) %}
                    <td><?= $this->Time->nice(${{ singularVar }}->{{ field }}) ?></td>
{% elseif columnData.type not in ['integer', 'float', 'decimal', 'biginteger', 'smallinteger', 'tinyinteger'] %}
                    <td><?= h(${{ singularVar }}->{{ field }}) ?></td>
{% else %}
                    <td><?= $this->Number->format(${{ singularVar }}->{{ field }}) ?></td>
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% set pk = '$' ~ singularVar ~ '->' ~ primaryKey[0] %}
                    <td class="actions">
                        <?php echo $this->Html->link($this->Format->icon('view'), ['action' => 'view', {{ pk|raw }}], ['escapeTitle' => false]); ?>
                        <?php echo $this->Html->link($this->Format->icon('edit'), ['action' => 'edit', {{ pk|raw }}], ['escapeTitle' => false]); ?>
                        <?php echo $this->Form->postLink($this->Format->icon('delete'), ['action' => 'delete', {{ pk|raw }}], ['escapeTitle' => false, 'confirm' => __('Are you sure you want to delete # {0}?', {{ pk|raw }})]); ?>
                    </td>
                </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>

    <?php echo $this->element('Tools.pagination'); ?>
</div>
